@page "/"

<h2>Welcome to the RMS restaurant management system!</h2>

<p>
    Reservations for customer booking ahead of time!<br><br>

    Orders for customers want to get food delivered!<br><br>

    Menu for employees to edit the menu!
</p>